.logout{
    padding: 1rem;
    background-color: blue;
    border: 1px solid blue;
    color: white;
    margin-right: 5rem;
    width: 15rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.logoutDiv{
    background-color: white;
    padding: 0.5rem;
}
.logout:hover{
    background-color: rgb(12, 12, 167);
}
.Navbar{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}